{% extends 'base.html' %}

{% block content %}
    <div class="container mx-auto my-8">
        <h1 class="text-3xl font-bold mb-8">Leaderboard</h1>

        {% if leaderboard %}
            <table class="table-auto w-full">
                <thead>
                    <tr>
                        <th class="px-4 py-2">Rank</th>
                        <th class="px-4 py-2">Test Name</th>
                        <th class="px-4 py-2">Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user_performance in leaderboard %}
                        <tr>
                            <td class="border px-4 py-2">{{ user_performance.rank }}</td>
                            <td class="border px-4 py-2">{{ user_performance.test.name }}</td>
                            <td class="border px-4 py-2">{{ user_performance.score }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No leaderboard data available.</p>
        {% endif %}
    </div>
{% endblock %}
